* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
main section{
    margin-bottom: 100px;
}

/* header design */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    background-color: #fdf8f5;
    margin-bottom: 50px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-img {
    height: 35px;
    padding: 5px;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav > ul > a{
    text-decoration: none;
}
nav > ul > a:hover{
    cursor: pointer;
    padding: 10px;
    background-color: bisque;
}
li{
    list-style: none;
    margin: 0 50px;
    font-size: 18px;
}
.title-design{
    color: #272727;
    margin: 24px;
}

/* first section/ beautiful flower section */
.text-color{
    color: #272727;
    opacity: 60%;
}
.btn-primary{
    font-size: 18px;
    color: #FFFFFF;
    background-color: #E55473;
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
}
.beautiful-flower{
    display: flex;
    justify-content:space-evenly;
    height: 600px;
    padding: 10%;
    fill: linear-gradient(180deg, rgba(229, 84, 115, 0.10) 0%, rgba(229, 84, 115, 0.01) 94.27%, rgba(229, 84, 115, 0.00) 100%, rgba(229, 84, 202, 0.00) 100%);
}
.btf-flower{
    height: 500px;
    width: 80%;
    padding: 20px;
    margin-right: 5%;
    align-items: center;
}
.btf-flower > h1 {
    font-size: 60px;
    padding-bottom: 24px;
}
.btf-flower > p {
    font-size: 18px;
    padding-bottom: 24px;
}
.btf-flower-img > img{
    height: 550px;
    width: 435px; 
    align-items: baseline;
}

/* hot deals section */
.heading-design{
    color: #272727;
    text-align: center;
    font-size: 40px;
    margin-bottom: 24px;
}
.paragraph-design{
    color: #272727;
    opacity: 60%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}
.our-flower-list{
    display: flex;
    justify-content: space-around;
    margin: 0 5%;
}
.our{
    color: #272727;
    text-align: center;
    font-size: 20px;
    text-decoration-line: underline;
}
.list-1 > img{
    height: 360px;
    width: 265px;
    background-color:  rgba(167, 33, 98, 0.15);
    padding: 0 10px;
    padding-top: 60px;
    border-radius: 300px 300px 0 0;
}
.list-2 > img{
    height: 360px;
    width: 265px;
    background-color: rgba(5, 151, 160, 0.15);
    padding: 0 10px;
    padding-top: 60px;
    border-radius: 300px 300px 0 0;
}
.list-3 > img{
    height: 360px;
    width: 265px;
    background-color: rgba(71, 125, 17, 0.15);
    padding: 0 10px;
    padding-top: 60px;
    border-radius: 300px 300px 0 0;
}

/* our flower section 2nd part */
.our-flower-list2nd{
    width: 80%;
    height: 250px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
}
.our-flower-list2nd > ul{
    display: flex;
    justify-content: space-around;
}
.our2nd > img{
    height: 88px;
    width: 88px;
    margin: 60px;
    margin-bottom: 24px;
}
.our2nd > p{
    text-align: center;
    font-size: 18px;
}

/* hot deals section */
.hot-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10%;
    border-radius: 8px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal{
    text-align: center;    
    margin: 0 8%; 
}
.hot-deal > img{
    width: 318px;
    height: 420px;
}
.color-prime{
    color: #E55473;
}

/* instagram section */
.insta-pic{
    display: flex;
    gap: 24px;
    padding: 0 8%;
}
.insta-pic > img{
    width: 242px;
    height: 296px;
    border-radius: 5px;
}

/* subscribe form section */
.from-design{
    width: 80%;
    background-image: url(./Flowers/Rectangle\ 9.png);
    text-align: center;
    margin: 0 auto;
    padding: 80px;
}
#email{
    font-size: 18px;
    padding: 12px 36px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
}

/* footer section */
.footer{    
    color: #FFFFFF;
    background-color: #111010;
    text-align: center;
    padding: 100px;
}
.footer-heading{
    font-size: 40px;
    margin-bottom: 24px;
}
.paragraph-footer{  
    color: rgba(255, 255, 255, 0.40);
    font-size: 18px;
    margin: 50px;
}